@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
:root {
    --color-black: #000;
    --color-gray-90: #313131;
    --color-gray-80: #4f4f4f;
    --color-gray-70: #6E6E6E;
    --color-gray-60: #857C7C;;
    --color-gray-20: #E2E2E2;
    --color-gray-10: #F4F3F3;
    --color-white: #fff;
    --color-beige: #FADBA2;
    --color-gold: #B98E01;
    --color-dark-red: #721C1D;
    --color-magenta: #FF00E7;
    --color-red: #FF3939;
    --color-orange: #FF7338;
    --color-coral: #FF7575;
    --color-light-pink: #FFC8C1;
    --color-indigo: #4E4AFF;
    --color-affair: #5D4593;
    --color-veronica: #854EFF;
    --color-orchid: #E48BF9;
    --color-plum: #e1bcea;
    --color-periwinkle:#C4BAFF;
    --color-navy: #035481;
    --color-celadon: #b1d0c8;
    --color-cyan: #00B6FF;
    --color-turquoise: #31DEDE;
    --color-alice-blue: #C6F7FF;
    --color-dark-green: #085A31;
    --color-lime-green: #75efaa;
    --color-glo-green: #a9ff6f;
    --color-pale-green: #E7FF99;
    --color-light-yellow: #f6f890;
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    background-color: #fff;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(2rem, 1.25rem, 1.25rem);
}

header, footer, nav, section, main {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    transition: color .2s ease-in;
}
a:hover {
    cursor: pointer;
}

h1 {
    margin: 0;
    font-weight: 900;
    font-size: 4rem; /* mobile: 1rem */
    line-height: 1.1;
    text-transform: uppercase;
}

h2 {
    margin: 0;
    font-weight: 900;
    font-size: 3.5rem; /* mobile: 1rem */
    text-transform: uppercase;
    line-height: 1;
}

h3 {
    margin: 0 0 1.4rem 0;
    font-weight: 900;
    font-size: 3.25rem; /* mobile: 1rem */
    text-transform: uppercase;
    line-height: 1;
}

h4 {
    margin: 0 0 1.2rem 0;
    font-weight: 700;
    font-size: 2.5rem; /* mobile: 0.9rem */
    text-transform: uppercase;
    line-height: 1;
}

p {
    margin: 0 0 1.4rem 0;
}

p, li, td {
    font-weight: 300;
    font-size: 1.6rem; /* mobile 0.7 */
    line-height: 1.45;
}

th {
    font-weight: 700;
    font-size: 1.6rem; /* mobile 0.7rem */
    line-height: 1.45;
}

table {
    border-collapse: collapse;
    border-bottom: 3px solid var(--color-gray-70);
    width: 100%;
    margin-bottom: 2rem;
}
th {
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: 3px solid var(--color-gray-70);
    font-weight: 900;
    text-align: left;
}
td {
    padding-top: .5rem;
    padding-bottom: .5rem;
    vertical-align: middle;
    border-bottom: 1px solid var(--color-gray-70);
}
td ul {
    margin-top: 0;
}

.row {
    display: flex;
    gap: 2.25rem;
}
.col {
    flex: 1;
}

.main {
    display: grid;
    gap: 1.5rem 1.5rem; /* vertical horizontal */
    margin: 1.5rem auto 0 auto; /* 24px auto 0 auto*/
    width: clamp(20rem, 90%, 120rem);
}

.help p {
    margin-bottom: 0;
}

/* Mobile and Tablet */
@media screen and (max-width: 1280px) {
    .row,
    section {
        flex-direction: column;
    }
}
@media screen and (max-width: 640px) {

    .main {
        display: grid;
        gap: 0.5rem 0.5rem;
        margin: 1rem auto 0 auto;
    }
    .intro-logo {
        grid-column : span 12 !important;
    }
    .intro-text {
        grid-column: span 12;
    }
}

