.help,
.help p {
    grid-column: span 12;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7.741935vw;
    padding-left: 1.9354838vw;
    padding-right: 1.9354838vw;
    background-color: var(--color-affair);
    color: var(--color-periwinkle);
    font-size: 2.580645vw;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
}
.help-text {
    letter-spacing: 1px;
}
.help-action {
    border: 1px solid var(--color-periwinkle);
    border-radius: 0.64516vw;
    font-size: 1.29032vw;
    color: var(--color-periwinkle);
    padding: 0.725806vw 1.9354838vw;
    transition: color .2s ease-in;
}
.help-action:hover {
    background-color: var(--color-periwinkle);
    color: var(--color-black);
}

footer {
    margin-top: 1.9354838vw;
    height: 19.3548387vw;
    padding: 1.9354838vw;
    position: relative;
    background-color: var(--color-gray-10);
    color: var(--color-gray-70);
    font-size: 1.129vw;
    overflow: hidden;
}
footer::after {
    content: "FLUFF AND LOGIC";
    text-transform: uppercase;
    position: absolute;
    left: -0.80645vw;
    bottom: -2.177419vw;
    font-weight: 700;
    white-space: nowrap;
    line-height: 1;
    font-size: 12.2887vw;
    letter-spacing: -7px;
    color: rgba(137,137,137, .17);
}