.hero {
  display: flex;
  width: 100%;
  column-gap: 16px;
  margin-top: 64px;
  margin-bottom: 96px;
}
.hero-text {
  position: relative;
  width: 50%;
}
.hero-text-para {
  position: relative;
  opacity: 1;
  margin-top: 0;
  transition: all .5s ease-in;
}
.hero-text-para.hide {
  opacity: 0;
  margin-top: 80px;
}
.hero-text-cta {
  position: relative;
  opacity: 1;
  margin-top: 0;
  transition: all .5s ease-in;
}
.hero-text-cta.hide {
  opacity: 0;
  margin-top: 40px;
}
.hero-text p {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 1.25;
}
.hero-media {
  width: 50%;
  max-width: 50%;
  margin-top: -50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  transition: all .5s ease-in;
  opacity: 1;
  transform: rotateX(45deg) rotateY(0deg) rotateZ(30deg) translateY(0);
}
.hero-media.hide {
  opacity: 0;
  transform: rotateX(45deg) rotateY(0deg) rotateZ(30deg) translateY(100px);
}
.col {
  width:50%;
  flex: 1 1 50%;
}
.hero-media,
.col,
.ItemCard,
.ItemCard__thumb {
  position: relative;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.cover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ItemCard__thumb img {
  position: relative;
  z-index: 1;
  transform: translate3d(0,0,5px);
  width: 100%;
  height: auto;
}
.shadow {
  display: block;
  opacity: .9;
  background-color: rgba(0,0,0,.1);
  filter: blur(4px);
}
@media screen and (max-width: 1200px) {
  .hero {
    flex-direction: column-reverse;
    margin-top: 0;
    margin-bottom: 0;
  }
  .hero-text,
  .hero-media {
    width: 100%;
    max-width: 100%;
  }
  .hero-media {
    margin-top: 0;
  }
}
