.site {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.site-section {
  margin-left: auto;
  margin-right: auto;
  width: var(--site-width);
  max-width: var(--site-width-max);
}
.site-content {
  display: flex;
  flex-direction: column;
}
.page-home {
  padding-bottom: 96px;
}
.three-col {
  display: flex;
  column-gap: 4rem;
}

@media screen and (max-width: 848px) {
  .three-col {
    flex-direction: column;
    row-gap: 1rem;
  }
}
