:root {
  --color-fg: #2C2C2C;
  --color-bg: #FCFCFC;
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: var(--color-bg);
  color: #2C2C2C;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--color-fg);
}
a:hover {
  background: linear-gradient(180deg, #FCFCFC 96%, #2C2C2C 96%);
}

h1, h2 {
  margin: 0;
  text-transform: uppercase;
  line-height: 1;
}
h2 {
  font-size: 4rem;
}
p {
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
}

.site-content {
  display: block;
  margin: 4vw;

}
.site-header {
  display: flex;
  flex-direction: column-reverse;
  padding: 1.5rem 0;
  border-top: .25rem solid var(--color-fg);
}
.site-brand {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8vw 0;
  white-space: nowrap;
}
.site-brand-fluff {
  width: 40.41666666667%;
  height: auto;
}
.site-brand-and {
  display: block;
  width: 10%;
  height: 100%;
  text-indent: -9999px;
  text-align: center;
}
.site-brand-icon {
  position: absolute;
  left: 42.222222%;
  top: 1.1111111%;
  width: 15.555555%;
  height: 100%;
  background: url(../img/logo-blob1.png) no-repeat center center;
  background-size: contain;
}
.site-brand-and img {
  width: 100%;
  height: auto;
  opacity: 0;
}
.site-brand-logic {
  width:39.89197530861%;
  height:auto;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.44444444%;
}
.hero-desc {
  text-transform: none;
  font-size: 1.5rem;
}
.hero-btn {
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.work {
  display: flex;
  justify-content: space-between;
  gap: 1.6666666667%;
  margin-bottom: 4rem;
  padding: 3.33333333vw 0;
  border-top: .5rem solid var(--color-fg);
}
.work a {
  width: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 1.5rem;
  border: .125rem solid var(--color-fg);
}
.work a:hover {
  background-image: none;
  box-shadow: 0 0 0 4px var(--color-fg);
}
.work-media {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: auto;
}

.site-nav {
  display: block;
  border-top: .25rem solid var(--color-fg);
  border-bottom: .25rem solid var(--color-fg);
}
.site-nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: .125rem solid var(--color-fg);
  padding: 1.5rem 0;
}
.site-nav-link:last-child {
  border-bottom: none;
}
.site-nav-link-left {
  display: flex;
  flex-direction: column;
  gap: 0.555555vw;
}
.site-nav-link-right {
  text-transform: uppercase;
}

footer {
  display: block;
  margin-top: 2rem;
}
footer p {
  font-size: 0.725rem;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 3rem;
  }
  .site-header {
    flex-direction: column;
  }
  .site-brand {
    margin: 0;
    padding: 2rem 0;
  }
  .hero {
    flex-direction: column;
    align-items: flex-start;
    gap: 4vw;
    margin-bottom: 4rem;
  }
  .hero-desc {
    font-size: 1rem;
  }
  .work {
    flex-direction: column;
    gap: 4vw;
  }
  .site-nav-link-right {
    display: none;
  }
}
