@import url("_common.css");
@import url("_brand.css");
@import url("_footer.css");

.main {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, auto);
}

.block-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
}

.hello {
  grid-column: span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  background: var(--color-affair) url(../img/spiral.svg) no-repeat center center;
  background-size: cover;
  color: var(--color-periwinkle);
  font-weight: 900;
}
.hello-text-hello {
  font-size: 3.1rem;
}
.hello-text-im {
  font-size: 7rem;
  line-height: 0.7;
}
.hello-text-sherif {
  font-size: 2.6rem;
}

.product {
  grid-column: span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-coral) url(../img/bars.svg) no-repeat center center;
  background-size: cover;
  color: var(--color-light-yellow);
  font-weight: 900;
}
.product-text-iama {
  font-size: 5rem;
  line-height: .9;
}
.product-text-product {
  font-size: 3.2rem;
  line-height: .9;
}
.product-text-designer {
  font-size: 3rem;
  line-height: .9;
}
.product-text-manager {
  font-size: 3rem;
  line-height: .9;
}
.product-text-strategist {
  font-size: 2.45rem;
  line-height: .9;
}

.design {
  grid-column: span 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20rem;
  background-color: var(--color-beige);
}

.design-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  padding-left: clamp(1rem, 1vw, 3rem);
  color: var(--color-gray-60);
  font-size: clamp(0.8rem, 2vw, 2rem);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
.design-media {
  width: 50%;
  height: 100%;
  position: relative;
}
.design-media-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.design-media-img img {
  width: 100%;
  height: auto;
}
.design-media-webapp {
  z-index: 1;
}
.design-media-designsystem {
  z-index: 2;
}
.design-media-mobile {
  z-index: 3;
}
.design-media-api {
  z-index: 4;
}

.location {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--color-lime-green);
}
.location-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  padding: 3rem 1rem;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-dark-green);
}
.location-media {
  position: relative;
  width: 100%;
  height: 12.3rem;
  color: var(--color-light-yellow);
  overflow: hidden;
}
.location-media img {
  width: 100%;
  height: auto;
}

.requirement {
  grid-column: span 12;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-orange);
  color: var(--color-light-yellow);
  font-size: 2rem;
  padding: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}

.skill {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem 2rem 0;
  background-color: var(--color-alice-blue);
}
.skill-cards {
  padding-top: 0.5rem;
  display: flex;
  gap: 1rem;
  overflow-y: hidden;
}
.skill-card {
  background-color: var(--color-light-yellow);
  padding: 1rem;
  min-height: 4rem;
  margin-bottom: 1rem;
  color: var(--color-gray-70);
  font-weight: 700;
  font-size: clamp(0.5rem, 1.2vw, 1.3rem);
  text-transform: uppercase;
  line-height: 1.1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.skill-ican {
  margin: 0 auto;
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--color-gray-70);
  text-transform: uppercase;
}
.skill-col {
  width: 20%;
}
.skill-col-wide {
  flex-grow: 1;
}

.design-system {
  grid-column: span 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 19rem;
  background-color: var(--color-beige);
}
.design-system-media {
  width: 50%;
  height: 100%;
  background: url(../img/design-systems.svg) no-repeat center center;
  background-size: contain;
}
.design-system-media img {
  height: 100%;
  width: auto;
}
.design-system-text {
  width: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  color: var(--color-gray-60);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.startup {
  grid-column: span 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 19rem;
  background: var(--color-navy) url(../img/bridge.jpg) no-repeat right bottom;
  background-size: contain;
}
.startup-text {
  width: 50%;
  display: flex;
  justify-content: center;
  padding-left: 2rem;
  color: var(--color-white);
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;

}

@media screen and (max-width: 1280px) {
  .main {
    width: 90%;
  }
  .hello {
    grid-column: span 6; height: 14rem;
  }
  .product {
    grid-column: span 6;
  }
  .design {
    grid-column: span 12; height: 13rem;
  }
  .location {
    grid-column: span 12;
  }
  .skill {
    grid-column: span 12; height: 15rem;
  }
  .requirement {
    grid-column: span 12;
  }
  .design-system {
    grid-column: span 12;
  }
  .startup {
    grid-column: span 12;
  }

  .design-media-img img {
    width: 75%;
  }

  .product-text-iama {
    font-size: 3.2rem;
  }
  .product-text-product {
    font-size: 2.05rem;
  }
  .product-text-designer {
    font-size: 2rem;
  }
  .product-text-manager {
    font-size: 2rem;
  }
  .product-text-strategist {
    font-size: 1.65rem;
  }

  .location-text {
    padding: 1rem;
    font-size: 1.3rem;
  }
  .location-media {
    height: 13rem;
  }
  .skill-ican {
    font-size: 1.1rem;
  }
  .requirement {
    font-size: 1.25rem;
    padding: 0.5rem;
  }
  .design-system {
    height: 15rem;
  }
  .design-system-text {
    font-size: 1.5rem;
  }
  .startup {
    height: 11rem;
  }
  .startup-text {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 640px) {
  main
  .hello,
  .product,
  .design,
  .location-media,
  .skill,
  .design-system,
  .startup {
    height: auto;
  }
  .hello {
    padding: 0.5rem;
  }
  .hello-text-hello {
    font-size: 1.5rem;
  }
  .hello-text-im {
    font-size: 3.3rem;
  }
  .hello-text-sherif {
    font-size: 1.2rem;
  }

  .product-text-iama {
    font-size: 1.3rem;
  }
  .product-text-product {
    font-size: 0.85rem;
  }
  .product-text-designer {
    font-size: 0.85rem;
  }
  .product-text-manager {
    font-size: 0.82rem;
  }
  .product-text-strategist {
    font-size: 0.68rem;
  }
  .design-text {
    padding: 0.5rem;
  }
  .location-text {
    font-size: 0.9rem;
  }

  .skill {
    padding: 0.5rem 0.5rem 0;
  }
  .skill-cards {
    gap: 0.5rem;
  }
  .skill-card {
    padding: 0.5rem;
  }
  .skill-ican {
    font-size: 0.7rem;
  }

  .requirement {
    font-size: 0.7rem;
    padding: 0.5rem;
  }

  .design-system-text {
    font-size: 0.8rem;
  }

  .startup-text {
    padding: 1rem;
    font-size: 0.8rem;
  }

  .help-actions {
    gap: 0.5rem;
  }
  .help-action {
    border-radius: 0.25rem;
    padding: 0.25rem;
    font-size: 0.5rem;
  }
}
