@import url("_common.css");
@import url("_brand.css");
@import url("_footer.css");

h2 {
  margin-bottom: 0;
  font-weight: 900;
  font-size: 5.16129vw; /* 40px */
  text-transform: uppercase;
  line-height: 1;
}

h3 {
  margin-bottom: 0;
  font-weight: 900;
  font-size: 3.2258vw; /* 40px */
  text-transform: uppercase;
  line-height: 1;
}

p {
  font-weight: 300;
  font-size: 1.6129vw; /* 20px */
  line-height: 1.6;
}

section {
  display: flex;
  gap: 1.93548vw;
  padding: 1.93548vw 4.51613vw; /* 24px 56px */
}
.mobile-screen {
  border-radius:  3.93548vw;
  border: 0.32258vw solid var(--color-black);
  border-bottom-width: 0.96774vw;
}

.media-row {
  display: flex;
  justify-content: space-between;
  gap: 6.4516vw; /* 80px */
}
.media-row img {
  width: 24vw;
  height: auto;
}

