@import url("_common.css");
@import url("_brand.css");
@import url("_footer.css");


.main {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, auto);
}
.work-link {
  grid-column: span 4;
  display: flex;
  position: relative;
  height: 20rem;
  background-size: cover;
  background-color: #eee;
  border: 2px solid #e3e3e3;
  overflow: hidden;
}
.work-link img {
  width: auto;
  height: auto;
  margin: 1rem auto 0 auto;
  object-fit: contain;
  transition: opacity 0.2s ease-in;
}
.work-link p {
  position: absolute;
  bottom: 0;
  left: 0;
  /*width: calc(100% - 2rem);*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  /*border-radius: 2rem;*/
  padding: 1rem;
  opacity: 0;
  /*background-color: #255861e3;*/
  background: rgb(37, 97, 95);
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  transition: opacity 0.2s ease-in;
}
.work-link:hover > img + p {
  opacity: 1;
}


@media screen and (max-width: 1280px) {
  .work-link {
    grid-column: span 6;
  }
}

@media screen and (max-width: 768px) {
  .work-link {
    grid-column: span 12;
  }
}

