@import url("_common.css");
@import url("_brand.css");
@import url("_footer.css");

h2 {
  margin: 0;
  font-weight: 900;
  font-size: 5.16129vw; /* 40px */
  text-transform: uppercase;
  line-height: 1;
}

h3 {
  margin: 0 0 1vw 0;
  font-weight: 900;
  font-size: 3.2258vw; /* 40px */
  text-transform: uppercase;
  line-height: 1;
}

h4 {
  margin: 0;
  font-weight: 700;
  font-size: 2.5806vw; /* 32px */
  text-transform: uppercase;
  line-height: 1;
}


p, li, td {
  font-weight: 300;
  font-size: 1.6129vw; /* 20px */
  line-height: 1.6;
}
th {
  font-weight: 700;
  font-size: 1.6129vw; /* 20px */
  line-height: 1.6;
}
ul {
  margin: 0;
}
td,th {
  vertical-align: middle;
}

section {
  display: flex;
  gap: 1.93548vw;
  padding: 4.51613vw; /* 24px = 1.93548vw  56px */
}

section p {
  margin-bottom: 1.2vw;
}

section p + ul {
  margin-top: -1.93548vw;
}

.mobile-screen {
  border-radius:  3.93548vw;
  border: 0.32258vw solid var(--color-black);
  border-bottom-width: 0.96774vw;
}

.media-row {
  display: flex;
  justify-content: space-between;
  gap: 6.4516vw; /* 80px */
}
.media-row img {
  width: 24vw;
  height: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.93548vw;
}
.grid img {
  width: 30%;
  height: auto;
  object-fit: cover;
  border-color: var(--color-dark-green);
}


.figure {
  border: 0.32258vw solid var(--color-black);
  width: 100%;
  margin-bottom: 1.93548vw;
}

.main {
  display: grid;
  margin: 0 1.9354838vw 0; /* 0 24px 0 */
  gap: 3.87097vw 1.9354838vw; /* 24px 24px */
}

.intro-logo {
  grid-column : span 4;
  height: 30.9677vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--color-cyan) url(/img/spiral-blue.svg) no-repeat center center;
  background-size: cover;
  color: var(--color-black);
}

.intro-text {
  grid-column: span 8;
  height: 30.9677vw;
  display: flex;
  align-items: flex-end;
  font-weight: 300;
  font-size: 3.2258vw;
  line-height: 1.2;
  color: var(--color-gray-80);
}

.footnote {
  border-top: 0.16129vw solid var(--color-gray-70);
  margin-top: 1vw;
  padding-top: 1vw;
  font-size: 1vw;
}

.hilite {
  background-color: var(--color-navy);
  color: var(--color-white);
}

