@import url("_common.css");
@import url("_brand.css");
@import url("_footer.css");

.main {
  margin: 0 1.9354838vw 0;
}

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, auto);
  gap: 1.9354838vw 1.9354838vw;
}
.work-link {
  display: flex;
  position: relative;
  height: 30.96774vw;
  border: 0.16129vw solid var(--color-gray-70);
  background-size: cover;
}
.work-link img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity 0.2s ease-in;
}
.work-link p {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.9354838vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.580645vw;
  font-weight: 900;
  color: var(--color-gray-90);
  text-align: center;
  text-transform: uppercase;
  transition: opacity 0.2s ease-in;
}
.work-link:hover > img {
  opacity: 0.1;
}
.work-link:hover > img + p {
  opacity: 1;
}

.api {
  grid-column: span 12;
  background-color: var(--color-glo-green);
}

.yobi {
  grid-column: span 4;
  background-color: var(--color-affair) ;
}
.yobi p {
  color: var(--color-white);
}
.wms {
  grid-column: span 8;
  background-color: var(--color-cyan);
}
.submissions {
  grid-column: span 9;
  background-color: var(--color-lime-green);
}
.clientcenter {
  grid-column: span 3;
  background-color: var(--color-pale-green);
}
.ezlynxmobile {
  grid-column: span 5;
  height: 30.96774vw;
  background-color: var(--color-turquoise);
}
.certs {
  grid-column: span 7;
  background-color: var(--color-orchid);
}
.cocoa {
  grid-column: span 5;
  background-color: var(--color-coral);
}
.ezlynx {
  grid-column: span 7;
  background-color: var(--color-coral);
}
.asset {
  grid-column: span 8;
  background-color: var(--color-dark-red);
}
.asset p {
  color: var(--color-white);
}

.onyx {
  grid-column: span 4;
  background-color: var(--color-periwinkle);
}
.npi {
  grid-column: span 4;
  background-color: var(--color-celadon);
}
.covidiq {
  grid-column: span 4;
  background-color: var(--color-turquoise);
}
.callsumo {
  grid-column: span 4;
  background-color: var(--color-dark-green);
}
.callsumo p {
  color: var(--color-white);
}

@media screen and (max-width: 848px) {

}
