:root {
  --color-fg: #000;
  --color-yellow: #FFE14D;
  --color-link: #fff;
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: var(--color-link);
}

header, nav {
  display: block;
}
body {
  overflow-x: hidden;
  font-family: "Lexend Zetta", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.work-link {
  display: flex;
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(12, auto);
  grid-template-areas:
    "title subtitle subtitle"
    "nav-text nav-text nav-stripe"
    "yobi wms wms"
    "submissions submissions clientcenter"
    "ezlynxmobile certs certs"
    "api api api"
    "cocoa ezlynx ezlynx"
    "asset asset onyx"
    "npi covidiq callsumo"
    "securus securus securus"
    "footer-nav-text footer-nav-text footer-nav-stripe"
    "footer footer footer";
  gap: 1rem;
}
.title {
  grid-area: title;
  height: 6rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  background-color: #FFE14D;
  font-size: 1.75vw;
  font-weight: 900;
  text-transform: uppercase;
}
.subtitle {
  grid-area: subtitle;
  height: 6rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  background: #00B6FF url(../img/stripes-angled.svg) repeat-x left top;
  font-size: 1.75vw;
  font-weight: 400;
  text-transform: uppercase;
}
.api {
  grid-area: api;
  height: 33rem;
  background: #FF7575 url(../work/blueyonder/api-dashboard/img/monitoring-dashboard.png) no-repeat center 3vw;
  background-size: 50%;
}
.yobi {
  grid-area: yobi;
  height: 33rem;
  background: #000 url(../work/yobi/img/mobile1.png) no-repeat 6vw 3vw;
  background-size: 90%;
}
.wms {
  grid-area: wms;
  height: 33rem;
  background: #00B6FF url(../work/blueyonder/future-wms/img/select.png) no-repeat center 3vw;
  background-size: 90%;
}
.submissions {
  grid-area: submissions;
  height: 33rem;
  background: #FFF176 url(../work/ezlynx/submission/img/dashboard.png) no-repeat -3vw 2vw;
  background-size: 100%;
}
.clientcenter {
  grid-area: clientcenter;
  height: 33rem;
  background: #2ACB75 url(../work/ezlynx/client-center/img/home.png) no-repeat center 4vw;
  background-size: 50%;
}
.ezlynxmobile {
  grid-area: ezlynxmobile;
  height: 33rem;
  background: #6AC834 url(../work/ezlynx/mobile/img/homepage.png) no-repeat center 3vw;
  background-size: 90%;
}
.certs {
  grid-area: certs;
  height: 33rem;
  background: #864EA9 url(../work/ezlynx/certs/img/mockup1.png) no-repeat center 2vw;
  background-size: 100%;
}
.cocoa {
  grid-area: cocoa;
  height: 33rem;
  background: #1D82D5 url(../work/cocoa/img/cocoa-dashboard.png) no-repeat 13vw 3vw;
  background-size: 70%;
}
.ezlynx {
  grid-area: ezlynx;
  height: 33rem;
  background: #FF7575 url(../work/ezlynx/img/logo.png) no-repeat center center;
}
.asset {
  grid-area: asset;
  height: 33rem;
  background: #982022 url(../work/ezlynx/asset-mgmt/img/hero.png) no-repeat center center;
  background-size: cover;
}
.onyx {
  grid-area: onyx;
  height: 33rem;
  background: #fff url(../work/onyx/img/onyx-home.jpeg) no-repeat 6vw 2vw;
  background-size: 90%;
}
.npi {
  grid-area: npi;
  height: 33rem;
  background: #3A5459 url(../work/newpatientsinc/img/logo.svg) no-repeat center center;
  background-size: 56%;
}
.covidiq {
  grid-area: covidiq;
  height: 33rem;
  background: #019FAA url(../work/covidiq/img/thumb.jpg) no-repeat -7vw top;
  background-size: cover;
}
.callsumo {
  grid-area: callsumo;
  height: 33rem;
  background: #FF7575 url(../work/callsumo/img/hero.png) no-repeat;
  background-size: cover;
}
.securus {
  grid-area: securus;
  height: 33rem;
  background: #6AC834 url(../work/securus/img/project-securus.png) no-repeat center -2vw;
  background-size: 80%;
}
.nav-text {
  grid-area: nav-text;
}
.nav-stripe {
  grid-area: nav-stripe;
  background-color:  #FFE14D;
}
.footer-nav-text { grid-area: footer-nav-text; }
.footer-nav-stripe {
  grid-area: footer-nav-stripe;
  background-color:  #FFE14D;
}
.nav-text,
.footer-nav-text
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 3rem;
  gap: 2rem;
  background-color: #A872CA;
  text-transform: uppercase;

}
.nav-text a,
.footer-nav-text a {
  display: flex;
  padding: 1rem 3rem;
}
.nav-text a:hover,
.footer-nav-text a:hover {
  background-color: #00B6FF;
  color: #000;
  transition: background-color 0.3s;
}
.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #3B6C88 23.43%, #C4572F 100%);
  color: rgba(255,255,255,.7);
  font-size: 0.8rem;
  padding: 2rem 3rem 6rem 3rem;
}
.footer p {
  margin-bottom: 0.75rem;
}

@media screen and (max-width: 848px) {
  .container {
    padding: .25rem;
    gap: .5rem;
  }
  .work-link {
    height: 9rem;
  }
  .title,
  .subtitle {
    padding-left: 1rem;
    font-size: 1rem;
  }
  .nav-text,
  .footer-nav-text {
    padding-left: 1rem;
    gap: .25rem;
  }
  .nav-text a,
  .footer-nav-text a {
    display: flex;
    padding: .5rem 1rem;
  }
  .footer {
    padding: 1rem;
    font-size: 0.6rem;
  }
}
