* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;

    background: #FFC8DD;
    color: #000;
    background: radial-gradient(ellipse at left top, rgba(255, 200, 221, 1) 0%, rgba(255, 255, 255, 1) 30%);
    background-repeat: no-repeat;
}

/*<weight>: Use a value from 100 to 900*/
/* <uniquifier>: Use a unique and descriptive class name*/

.inter-light {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

h1,h2,h3,h4,h5 {
    margin: 0;
    font-weight: 300;
}

h2 {
    margin-left: 2rem;
    font-size: 3rem;
    line-height: 1.15;
}
a {
    text-decoration: none;
    color: #000;
}
.output {
    margin: 2rem;
    font-size: 0.75rem;
    font-weight: 300;
}
.portfolio {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
}
.image,
.details {
    width: 50%;
    height: 50vh;
    color: #283618;
}
.image {
    position: relative;
    background-color: #212121;
    color: white;
    overflow: hidden;
    /*border: 1px solid #fff;*/
}
.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.image p {
    background-color: rgba(0,0,0,.2);
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 1rem;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: end;
    justify-content: start;
    font-size: 2.5rem;
    font-weight: 300;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    font-weight: 600;
    font-size: 0.6rem;
}


.inquiry {
    margin-top: 6rem;
    margin-left: 1rem;
}

.inquiry h3 {
    font-size: 2rem;
}
.inquiry .contact {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-top: 2rem;
    font-weight: 300;
}
.inquiry .photo {
    width: 2rem;
    height: 2rem;
    background-color: #f0f0f0;
}
.inquiry .name {
}
.inquiry .title {
    font-size: 0.65rem;
    font-weight: 300;
    font-style: italic;
    padding: 0.25rem 0.5rem;
    border: 1px solid #eee;
    border-radius: 1rem;
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 0.67rem;
    font-weight: 300;
}
.main-footer-social {
    display: flex;
    gap: 0.75rem;
}
.main-footer-social a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.1rem;
    padding: 0.1rem 0.5rem;
    border: 1px solid #eee;
    border-radius: 1rem;
    font-style: italic;
}
.main-footer-legal {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: .7rem;
}
.main-sidebar {
    padding-left: 2rem;
}
.main-nav {
    position: sticky;
    top: 0;
    z-index: 1;
}
.contact-form {
    max-width: 40rem;
}
.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.contact-form label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-weight: 300;
    font-size: 1.25rem;
    text-transform: capitalize;

}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    border: 1px solid #aaa;
    padding: 0.5rem;
    font-size: 1.25rem;
    font-weight: 300;
    font-family: "Inter", sans-serif;
}
.contact-form input[type="submit"] {

}