:root {
    --color-black: #1c1c1c;
    --color-white: #f1f1f1;
}
body {
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'DM Serif Display', serif;
    color: var(--color-white);
}

h1 {
    font-weight: normal;
    font-size: 48px;
}

a {
    color: var(--color-white);
    opacity: .8;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-header-nav-list {
    list-style-type: none;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.site-header-nav-link {
    display: flex;
    padding: 4px 12px;
    border-radius: 24px;
    font-size: 16px;
    text-decoration: none;
    background-color: #f1f1f100;
    transition: background-color .3s;
}
.site-header-nav-link:hover {
    background-color: #f1f1f120;
}
.site-header-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    text-decoration: none;
    padding:  8px 24px;
    border-radius: 32px;
    background-color: #f1f1f15A;
    transition: background-color .3s, color .3s;
}
.site-header-cta:hover {
    background-color: #f1f1f114;
    color: var(--color-white);
}
.nav-link2-menu {
    display: none;
}
.nav-link1-menu {
    position: fixed;
    z-index: 10;
    left: 0;
    top: -80vh;
    width: 100%;
    height: 80vh;
    background-color: #e76f51;
    display: flex;
    flex-direction: column;
}
.nav-link1-menu-inner {
    position: relative;
    top: -70vh;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 48px;
    width: calc(100% - 48px);
    height: 70vh;
    background-color: #333;
    padding: 24px;
}
.box {
    position: relative;
    top: -53vh;
    display: block;
    width: 30%;
    height: 50vh;
    border-radius: 16px;
}
.box1 {
    background-color: #3cb22a;
}
.box2 {
    background-color: #672ab2;
}
.box3 {
    background-color: #d56b14;
}
.nav-link1-menu-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .25rem 1rem;
}