---
title: Fluff And Logic
---

{% assign url_home = '/' %}
{% assign url_work = '/work/' %}
{% assign url_about = '/about/' %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/main.css">
    {% if stylesheet %}
        <link rel="stylesheet" href={{ stylesheet }} />
    {% endif %}
    </head>
    <body>
        <main class="site">
            <header class="site-section site-header">
                <a class="site-nav-link" href="{{ url_home }}">
                    <h1 class="site-brand">Fluff and Logic</h1>
                </a>

                <nav class="site-nav">
                    <a class="site-nav-link" href="{{ url_home }}">Home</a>
                    <a class="site-nav-link" href="{{ url_work }}">Our Work</a>
                    <a class="site-nav-link" href="{{ url_about }}">About Us</a>
                    <a class="site-nav-link contact" href="#">Contact Us</a>
                </nav>
            </header>
            <div class="site-section site-content">
                {{ content | safe }}
            </div>
            <div class="site-footer-container">
                <footer class="site-section site-footer">
                    <h1 class="site-footer-brand">Fluff and Logic</h1>
                    <nav class="site-footer-social-media">
                        <a href="#">Twitter</a>
                        <a href="#">LinkedIn</a>
                        <a href="#">Facebook</a>
                    </nav>
                    <nav class="site-footer-nav">
                        <a class="site-footer-nav-link" href="{{ url_home }}">Home</a>
                        <a class="site-footer-nav-link" href="{{ url_work }}">Our Work</a>
                        <a class="site-footer-nav-link" href="{{ url_about }}">About Us</a>
                        <a class="site-footer-nav-link contact" href="#">Contact Us</a>
                    </nav>
                </footer>
            </div>
        </main>
    {% if script1 %}
        <script src={{ script1 }}></script>
    {% endif %}
    {% if script2 %}
        <script>{{ script2 }}</script>
    {% endif %}
    </body>
</html>
